# Print Function Demo

* Prints to console
* Useful for debugging
* Print by default use new line ('\n') as the end separator
* Use 'end' parameter of print function to declare the ending character
* Use 'sep' parameter to separate multiple args of print function
> Formating in print
* F String: Use f string print function to format string based on tokens : print(f"*")
* Format(): Use format() function of string to format strings :  sequence matters; extra args of format are ignored
* Format() with index: Use format function of string with index to format strings while indexing the args
* % String: Use % string in print function to format: print('%s..'%())

In [21]:
name = 'Shailesh'
name

age = 38
age

nationality = "Indian"
nationality

name, age, nationality

('Shailesh', 38, 'Indian')

In [22]:
print(name)
print('\n')
print(age)
print(nationality)

Shailesh


38
Indian

In [23]:
print(name, end = '\n') # Default print behavior to end with a new line

Shailesh

In [24]:
print(name, end = ',')
print(age, end = ',')
print(nationality, end = '\n')

Shailesh,38,Indian

In [25]:
print(name, age, nationality)

Shailesh 38 Indian

In [26]:
print(name, age, nationality, sep = ', ')

Shailesh, 38, Indian

In [27]:
print("My name is "+name+". I am "+str(age)+" years old.")

My name is Shailesh. I am 38 years old.

> F String

In [28]:
employee = 'Harshita'
company = 'Blackrock'
salary = 100000
location = 'Delaware'

print(f'{employee} is working in {company} at {location} receiving compensation of {salary}.')

Harshita is working in Blackrock at Delaware receiving compensation of 100000.

> Format

In [29]:
print('{} is working in {} at {} receiving compensation of {}'.format(employee, company, location, salary))

Harshita is working in Blackrock at Delaware receiving compensation of 100000

> Format with index

In [30]:
print('{a} is working in {b} at {c} receiving compensation of {d}'.format(b=company, c=location, d=salary, a=employee))

Harshita is working in Blackrock at Delaware receiving compensation of 100000

> % string format

In [33]:
print('%s is working in %s at %s receiving compensation of %s'%(employee, company, location, salary))

Harshita is working in Blackrock at Delaware receiving compensation of 100000