# PANDAS: Python Data Analysis Library
* ### Powerful python library used for data manipulation and analysis.
* ### Offers data structures and functions that simplify working with structured data, making it an essential tool in data science and analysis.
* ### Optimal for sample data analysis for big data use cases.
* ### Efficient Data handling
* # TODO add more here

* ### Importing pandas

In [1]:
import pandas as pa

## Data Structure in Pandas
### Main two data structures used:
* #### Panda Series
* #### Panda DataFrame
#### Note: Data frames are a collections of series

## Creating DataFrames

In [19]:
df = pa.DataFrame(data=[{'a':1, 'b':2, 'c':3, 'd':4}, {'a':4, 'b':5, 'c':6, 'd':7}, {'a':7, 'b':8, 'c':9, 'd':10}])
#df = pa.DataFrame({'a':[1,2,3], 'b':[4,5,6]})
#df = pa.DataFrame(data=[1,2,3,4], columns=['a','b'])
#df = pa.DataFrame(columns={'a':[1,2,3], 'b':[4,5,6]})
print(df)
print(type(df.groupby('a')))

   a  b  c   d
0  1  2  3   4
1  4  5  6   7
2  7  8  9  10
<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

## Series

In [3]:
s1 = pa.Series(["a","b","c"], name = "s1")
print(s1)

0    a
1    b
2    c
Name: s1, dtype: object

## Filtering a DataFrame - Why do we need filtering?
Remove redundant/unnecessary data
To filter out rows or columns

Filtering with 'loc' and 'iloc' methods.
Filtering by selecting a subset of columns.
Filtering by condition(s).

In [20]:
# customer.loc[0:2, 'Name':'Education'] # All Inclusive since its labels
# customer.iloc[[0,2], [0,1,3]]
# customer.iloc[0:2, 0:3] # Later index excluded since its index

print(type(df.iloc[:2, :3]))

# customer.Education # gives the Education Series in the Customer Data Frame
# customer['Education'] # Same as before; recommended for corner cases of space included column names

# customer['Name', 'Education'] # Filters and returns a data frame.

#TODO Filtering with regex

<class 'pandas.core.frame.DataFrame'>

## Handling missing values with Pandas
### Missing value types and representation
Finding the missing values
Dropping rows and columns with missing values
Replacing the missing values

NaN: None

In [ ]:

#value_to_replace = df['account_length'].mean()
# df['account_length'].fillna(value_to_replace, inplace = True)
# mode()?

## Finding the missing values

isna() : is not a number

notna() :  not not a number

## Replacing the missing values

fillna() : fill not a number

## Sorting in a DataFrame
Based on their column frames
sort_values(): sort df by one or more of its columns

## Data Manipulation with Pandas
drop()
replace()
apply()

# Data Analysis using PANDAS

The process of inferring insights, discovering useful information, and drawing results from the data

groupby()
agg()
reset_index()
rename()
idxmax()

In [ ]:
#avg_rating_summary = df.groupby('product_category')['rating'].mean().reset_index()
# TODO reset index?

# avg_rating_summary.rename(columns =
# avg_product_price = df.groupby('product_category').agg({'product_price':'mean', 'quantity' : 'sum'}).reset_index()
# avg_product_price.rename(columns = {'product_price':'avg_product_price', 'quantity' : 'total_quantity'})

## Combining DataFrames with Pandas

## Concat function
* #### Concatenates two data frames horizontally or vertically

## Merge function: Based on a common key
* #### Similar to SQL join operation.

In [ ]:
# Concatenate DataFrames

In [ ]:
# Merge Data Frame
#merged_df = product_df.merge(review_df, on="product_id", how="inner") # how="inner|outer|right|left"
#print(merged_df)

### Data Analysis: Groupby, agg, reset_index